.navbar-class{
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.navbar-class > *{
  padding: 15px 30px;
  color: black;
  background-color: rgb(242, 241, 241);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: monospace, sans-serif;
}

.navbar-class > *.active{
  background-color: black;
  color: white;
}